#nav-intro h1 {
  color: #ffffff;
  font-size: 1.3em;
  margin-bottom: 0px;
}
#nav-intro h2 {
  font-size: 0.7em;
  color: #d56c2c;
}
/* #nav-intro {
  width: 50%;
  line-height: 2px;
  padding-left: 2%;
} */
/* 
.nav-links {
  display: flex;
  list-style: none;
  width: 50%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
} */
